<div class="contacts-list">
   <table class="table table-hover">
      <thead>
      <tr>
         <th scope="col">First Name</th>
         <th scope="col">Last Name</th>
         <th scope="col">Email</th>
         <th scope="col">Country</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="editContact(contact)" class="contact-row" *ngFor="let contact of contacts">
         <td>{{contact.firstName}}</td>
         <td>{{contact.lastName}}</td>
         <td>{{contact.email}}</td>
         <td>{{contact.country}}</td>
      </tr>
      </tbody>
   </table>
   <div class="no-records-found" *ngIf="contacts.length === 0">
      <span>No records found.</span>
   </div>
</div>
