<div class="contacts-form">
   <form>
      <div class="row">
         <div class="col">
            <label for="contact-first-name">First Name</label>
            <input type="text" class="form-control" id="contact-first-name" placeholder="First Name" required>
         </div>
         <div class="col">
            <label for="contact-last-name">Last Name</label>
            <input type="text" class="form-control" id="contact-last-name" placeholder="Last Name" required>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <label for="contact-email">Email</label>
            <input type="text" class="form-control" id="contact-email" placeholder="Email" required>
         </div>
         <div class="col">
            <label for="contact-country">Country</label>
            <input type="text" class="form-control" id="contact-country" placeholder="Country" required>
         </div>
      </div>
      <div class="row">
         <button type="submit" class="add-button btn btn-success">Submit</button>
      </div>
   </form>
</div>
